{%extends 'base.html'%}
{%load static%}
{%block content%}
{%include 'navbar.html'%}
<nav aria-label="breadcrumb">
    <div class="m-0 p-0" style="background-color:#white!important;">
            <ol class="breadcrumb mx-auto container z-depth-0 " style="background:white!important;">
                <li class="breadcrumb-item active"><a >Home</a></li>
            </ol>
    </div>
</nav>
<div class="container pt-5">
    <div>
        <h3><strong>Chilli Meet</strong></h3>
        <p>A Resolution Tracking System</p>
    </div>
    <div class="row py-4">
        <div class="col-md-4 pb-2">
            <!-- Card -->
            <div class="card card-image"
                 style="">

                <!-- Content -->
                <div class=" text-center d-flex align-items-center  py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2"><strong>Manage Existing Staff</strong></h3>
                        <p>Use this portal to manage your existing Staff. Add, update or Remove existing staff
                            members</p>
                        <a class="btn btn-primary"><i class="fas fa-clone left"></i> View Staff</a>
                    </div>
                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col-md-4 pb-2">
            <!-- Card -->
            <div class="card card-image"
                 style="">

                <!-- Content -->
                <div class=" text-center d-flex align-items-center  py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2"><strong>Manage Meetings</strong></h3>
                        <p>Use this portal to manage your meetings. Create a meeting, update tasks status or track item
                            progress.</p>
                        <a class="btn btn-primary"><i class="fas fa-clone left"></i> View Meetings</a>
                    </div>
                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col-md-4 pb-2">
            <!-- Card -->
            <div class="card card-image"
                 style="">

                <!-- Content -->
                <div class=" text-center d-flex align-items-center  py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2"><strong>Manage Reports</strong></h3>
                        <p>Use this portal to manage your reports. Generate reports on meetings, staff, tasks, items and their status.</p>
                        <a class="btn btn-primary"><i class="fas fa-clone left"></i> View Reports</a>
                    </div>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
</div>
{%endblock content%}
{%block scripts%}
{%endblock scripts%}