{%extends 'base.html'%}
{%load static%}
{%load humanize%}
{%block content%}
{%include 'navbar.html'%}
<nav aria-label="breadcrumb">
    <div class="m-0 p-0" style="background-color:#white!important;">
        <ol class="breadcrumb mx-auto container z-depth-0 " style="background:white!important;">
            <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
            <li class="breadcrumb-item "><a href="{%url 'meetings'%}">Meetings</a></li>
            <li class="breadcrumb-item "><a
                    href="{%url 'meeting' meeting.meeting_number%}">{{meeting.meeting_number}}</a></li>
            <li class="breadcrumb-item active"><a>Item {{item.label}} Status</a></li>
        </ol>
    </div>
</nav>
<div class="container pt-5">
    <div>
        <h5><strong>Statuses for Item {{item.label}} of Meeting {{meeting.meeting_number}}</strong></h5>
        <div class="p0">
            <p class="p-0 m-0">{{meeting.meeting_type}} Meeting <span class="text-muted small"><i
                    class="fa-solid fa-clock"></i>
                Last updated {{meeting.updated_on|naturaltime}}</span></p>
            <p class="p-0 m-0">Item {{item.label}} <span class="text-muted small"><i class="fa-solid fa-clock"></i>
                Last updated {{item.updated_on|naturaltime}}</span></p>

        </div>
    </div>
    <div>
        <h3 class="text-right">
            <button type="button" class="btn btn-primary rounded capitalize" data-toggle="modal"
                    data-target="#new_meeting_item_status"><i
                    class="fa-solid fa-plus"></i> capture a new status
            </button>
        </h3>
    </div>
    <h5>All Items {{item.label}}'s Statuses</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"><strong>Status Number</strong></th>
            <th scope="col"><strong>Action</strong></th>
            <th scope="col"><strong>Person Responsible</strong></th>
            <th scope="col"><strong>Status</strong></th>
            <th scope="col"><strong>Created On</strong></th>
        </tr>
        </thead>
        <tbody>
        {%for status in items_statuses%}
        <tr>
            <td>{{status.count}}</td>
            <td>{{status.action}}</td>
            <td>{{status.person_responsible}}</td>
            <td>{{status.status}}</td>
            <td>{{status.created_on|naturaltime}}</td>
        </tr>
        {%endfor%}

        </tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="new_meeting_item_status" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle"><strong class="capitalize">Capture A New Status</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body py-4" method="post">
                {%csrf_token%}
                <label for="action">Enter Action</label>
                <textarea id="action" name="action" class="form-control" required rows="5"></textarea>
                <label class="pt-3" for="staff">Select Responsible Person</label>
                <select class="browser-default custom-select" id="staff" name="staff" required>
                    {%for staff in existing_staff%}
                    <option value="{{staff.id}}">{{staff.names}}</option>
                    {%endfor%}
                </select>
                <label class="pt-3" for="status">Select Status</label>
                <select class="browser-default custom-select" id="status" name="status" required>
                    {%for status in statuses%}
                    <option value="{{status}}">{{status}}</option>
                    {%endfor%}
                </select>
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary btn-sm float-right">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

{%endblock content%}
{%block scripts%}



{%endblock scripts%}