<!--Navbar -->
<nav class=" mb-1 navbar navbar-expand-lg navbar-dark primary-color">
    <div class="container">
        <a class="navbar-brand display-4" href="#">Chilli Meet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-users"></i> Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-handshake"></i> Meetings
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-file-lines"></i> Reports</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar -->