{%extends 'base.html'%}
{%load static%}
{%block content%}
{%include 'navbar.html'%}
<nav aria-label="breadcrumb">
    <div class="m-0 p-0" style="background-color:#white!important;">
            <ol class="breadcrumb mx-auto container z-depth-0 " style="background:white!important;">
                <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                <li class="breadcrumb-item active"><a >Staff</a></li>
            </ol>
    </div>
</nav>
<div class="container pt-5">

</div>
{%endblock content%}
{%block scripts%}
{%endblock scripts%}